.pagination-fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	padding-bottom: 5px;
	padding-top: 5px;
}

.ocrastd{
	margin-top: 6px;
	font-family: "OCR_A_Std";
}

.currentuser{
	position: relative;
	display: inline-block;
	white-space: nowrap;
	z-index: 0;
}
.currentuser:after{
	left:0;
	bottom:5px;
	height: 25%;
	position: absolute;
	content: '';
	background-color: #1FFF00;
	width: 100%;
	z-index: -1;
}