// get the background color from theme property definition in nuxt.config
// .v-application {
//     background-color: var(--v-background-base) !important;
// }

.pagination-fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	padding-bottom: 5px;
	padding-top: 5px;
}

// prevents mobile zoom on button clicks (score picker i.e.)
body {
	touch-action: manipulation;
}


.no-selection{
	user-select: none;
}


.ocrastd{
	margin-top: 6px;
	font-family: "OCR_A_Std";
}

.currentuser{
	position: relative;
	display: inline-block;
	white-space: nowrap;
	z-index: 0;
}
.currentuser:after{
	left:0;
	bottom:5px;
	height: 25%;
	position: absolute;
	content: '';
	// you can pass this value as
	//:style="'--currentuser-color-var: var(--v-pcup-base)'"
	//or
	// :style="'--currentuser-color-var: rgba(255,0,0)'"
	background-color: var(--currentuser-color-var);
	width: 100%;
	z-index: -1;
}

// used in ppTournamentPagination
.v-pagination{
	padding: 0px;
	margin: 0;
}

.v-pagination__navigation{
	box-shadow: none !important;
	background-color: transparent !important;
	
}

.no-arrows .v-pagination__navigation{
	display: none !important;
}
.v-pagination__item{
	box-shadow: none !important;
	background-color: transparent !important;
	color: white !important;
}
.v-pagination__item--active {
	font-size: 26px;
	font-weight: bold;
	color: white !important;
	flex-direction: column-reverse;
}

.transparent{
	background-color: none !important;
}


.v-slide-group__prev .v-icon,
.v-slide-group__next .v-icon{
	font-style: normal;
    font-weight: bold;
    font-size: 2em;
	color: black
}

.theme--dark.v-chip {
  border-color: white !important;
}

.blink {
	animation: blinking 2s infinite;
	// animation: blinking 3s linear ;
}
  
  @keyframes blinking {
	76%, 100% {
		opacity: 0;
	}
	10%, 65%{
		opacity: 1;
	}

}

.background-cover {
	background-image: url("assets/img/background.jpg");
	background-size: cover; 
}

.h-100{
	height: 100%;
}

.lh-1{
	line-height: 1rem !important;
}

.lh-2{
	line-height: 2rem !important;
}



.lh-02{
	line-height: 0.2rem !important;
}

