//Utility Styles
.pointer {
    cursor: pointer
}

.hidden {
    display: none
}

.plain-cursor {
    cursor: default !important;
}

.no-decoration {
    text-decoration: none !important;
}

.white-border {
    border-style: solid; 
    border-color: white !important;
    border-width: 3px;
}

.rounded-border {
    border-radius: 30px !important;
}

.hovered:hover {
    background-color: lighten($color: lightgrey, $amount: 5) !important;
}

input[type="text"]
{
    font-size:28px;
    padding: 0px !important;
}
input[type="password"] {
    padding-left: 5px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    stroke-color: black;
    letter-spacing: 0.4em;
 }

.primary--bg{
    background-color: #052aff;
}