// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
 

// src/sass/variables.scss

$material-dark: (
  'background': var(--v-background-base),
  // cards:var(--v-primary-base),
  navigation-drawer:var(--v-primary-base),
);



$calendar-line-width:3px;
$calendar-event-font-size: 16px;


$toolbar-content-padding-x: 0;
$toolbar-content-padding-y: 0;

// Define your custom variables
$pp-mobile-height: 730px;
$pp-mobile-width: 600px;