// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
 

// src/sass/variables.scss

$material-dark: (
  'background': #000033,
  cards:var(--v-primary-base),
  navigation-drawer:var(--v-primary-base),
);

$material-light: (
  // 'background': #ffffed,
  cards:var(--v-primary-base),
  navigation-drawer:var(--v-primary-base),
  icons:(active: black)
);



$toolbar-content-padding-x: 0;
$toolbar-content-padding-y: 0